/* components/NotificationsPage.module.css */

.notificationsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .notificationWrapper {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
  }
  