/* App.css or your component CSS */
.pacifico-font {
  font-family: 'Pacifico', cursive;
}

.all-form-heading{
  
}

.input-resume-border{
    /* font-size: 1.6rem;
    border-radius: 4px;
    background-color: #f9fafb; */
    border-color: silver;
    /* padding: 8px 16px */
}

/* 
; */